__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.egg-info/
dist/
build/
.env
*.log

node_modules/
dist/
dist-ssr/
*.local
.DS_Store
.env
.env.local
.env.production.local
.env.development.local

pinecone-doc/